<footer>
    <div class="container">
        <div class="row" style="border: solid 1px black;width:100%;height:auto;">
            <div class="firstsec">
</div>
            <div class="secondsec">
 </div>
        </div>
    </div>
</footer>