<section>
    <div class="container" >
        <div class="column" style="width: 380px;height:400px;border:solid 1px grey;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);">
            <i class="bi bi-bag-x-fill" style="margin-top: 30px;display:flex;justify-content:center;align-items:center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bag-x-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M6.854 8.146a.5.5 0 1 0-.708.708L7.293 10l-1.147 1.146a.5.5 0 0 0 .708.708L8 10.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 10l1.147-1.146a.5.5 0 0 0-.708-.708L8 9.293z"/>
</svg>
            </i>
            <h1 style="font-weight: bold;text-align:center;margin-top:10px;">You Cart is Empty</h1>
            <h3 style="font-weight: lighter;color:black;font-style:italic;font-size:larger;text-align:center;margin-top:30px;">"Your cart is waiting for your next adventure!"</h3>
            <div class="btn" style="display:flex;justify-content:center;">
                            <button style="border: solid 1px black;font-weight:bold;color:black;border-radius:5px;margin-top:30px;" class="btn "><a href="/" style="color: black;text-decoration:none;">Go Home</a></button>
        </div>
        </div>
        </div>
      </section>