<section >
            <h2 style="font-weight: 400;text-align:center;margin-top:30px;">Profile:</h2>

    <div class="container" style="display:flex;justify-content:center;align-items;center;margin-top:20px;">
        <form>
  <div class="mb-3 ">
    <label for="username" class="form-label">Name:</label>
    <input type="text" class="form-control" id="username"  style="width: 350px;" value="{{userdet.Name}}">
  </div>
  <div class="mb-3">
     <label for="exampleInputEmail1" class="form-label">Email address:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{userdet.Email}}">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  
</form>
    </div>
</section>